@charset "UTF-8";
/* box ticket */
.detail-box-ticket{
	background-color: #eeebf1;
}
.detail-box-ticket__inner{
	display: flex;
	padding-top: 2px;
	max-width: 690px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
.detail-box-ticket__item{
	flex: 0 0 50%;
	box-sizing: border-box;
}
.detail-box-ticket__item + .detail-box-ticket__item{
	border-left: solid 1px #fff;
}
.detail-box-ticket__title{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	background-color: #ff5d40;
	line-height: 1;
	padding: 8px 10px;
	letter-spacing: 0.06em;
}
.detail-box-ticket__title--night{
	background-color: #212f5b;
}
.detail-box-ticket__time{
	padding-bottom: 14px;
	text-align: center;
}
.detail-box-ticket__day{
	font-family: 'Oswald', sans-serif;
	font-size: 54px;
	font-weight: bold;
	color: #222;
	line-height: 1;
	padding-top: 9px;
	letter-spacing: 0.01em;
}
.detail-box-ticket__day span{
	margin-left: 2px;
}
.detail-box-ticket__day span img{
	width: 44px;
}
.detail-box-ticket__hour{
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #222;
	line-height: 1;
	letter-spacing: 0.05em;
	margin-top: 4px;
}
.detail-box-ticket__button{
	line-height: 1;
	padding-top: 13px;
}
@media(min-width: 768px){
	.detail-box-ticket{
		padding-top: 20px;
	}
	.detail-box-ticket__item:nth-child(1){
		border-right: solid 1px #eeebf1;
	}
	.detail-box-ticket__item:nth-child(2){
		border-left: solid 1px #eeebf1;
	}
	.detail-box-ticket__title{
		font-size: 14px;
		padding: 8px 10px;
		letter-spacing: 0.06em;
	}
	.detail-box-ticket__time__content{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-top: 5px;
	}
	.detail-box-ticket__time{
		padding-bottom: 19px;
	}
	.detail-box-ticket__day{
		font-size: 54px;
		padding-top: 9px;
	}
	.detail-box-ticket__day span{
		margin-left: 2px;
	}
	.detail-box-ticket__day span img{
		width: 44px;
	}
	.detail-box-ticket__hour{
		font-size: 28px;
		margin-left: 15px;
	}
	.detail-box-ticket__button{
		padding-top: 17px;
	}
}