@charset "UTF-8";

/* Color Variables -- ここでメインカラーを変更
	例 --
	#div1 { background-color: var(--main-color);}
*/
:root {
  --main-color: #030303;
  --main-purple: #030303;
}


/* -----------------------------------------------
Table of Contents (common css)
--------------------------------------------------
0. Foundation
	 0-1. Reset
	 0-2. Base
	 0-3. Config
1. Layout
	 1-1. #l-document
	 1-2. #l-header
	 1-3. #l-container
				1-3-1. #l-main
				1-3-2. #l-sub
	 1-4. #l-footer
	 1-5. #l-navGlobal
	 1-6. pageHeader
	 1-7. layoutType
2. Object
	 2-1. Component a.k.a Module
				2-1-1.  Wrap     [wrp-***]
				2-1-2.  Box      [box-***]
				2-1-3.  Table    [tbl-***]
				2-1-4.  Headings [hdg-lv*]
				2-1-5.  Nav      [nav-***]
				2-1-6.  List     [lst-***]
				2-1-7.  Button   [btn-***]
				2-1-8.  Anchor   [acr-***]
				2-1-9.  Text     [txt-***]
				2-1-10. Icon     [icn-***]
				2-1-11. Label    [lbl-***]
				2-1-12. Form     [frm-***]
				2-1-13. Error    [err-***]
				2-1-14. Panel    [pnl-***]
				2-1-15. Media    [mda-***]
				2-1-16. UI
	 2-2. Utility
				2-2-1. clearfix
				2-2-2. margin,padding [mb10,pt20]
				2-2-3. Object-Oriented CSS
				2-2-4. Grid System [grid-***]
				2-2-5. CSS Animation [act-***]
				2-2-6. WebFont
	 2-3. State [is-***]
	 2-4. OverLayerConfig [z-index]
	 2-5. Project

-------------------------------------------------- */

/* -----------------------------------------------
 [0. Foundation]
-------------------------------------------------- */

/* 0-1. Reset
-------------------------------------------------- */
html{
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
	margin: 0;
	padding: 0;
}
a{
	background-color: transparent;
}
a:focus{
	outline: thin dotted;
}
a:active,
a:hover{
	outline-width: 0;
}
html,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,del,em,img,strong,
dl,dt,dd,ol,ul,li,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,footer,header,small,nav,section,figure,figcaption,main{
	margin: 0;
	padding: 0;
	display: block;
	vertical-align: baseline;
	list-style: none;
	background-color: transparent;
	outline: none;
}
audio,canvas,progress,video{
	display: inline-block;
}
audio:not([controls]){
	display: none;
	height: 0;
}
progress{
	vertical-align: baseline;
}
template,
[hidden]{
	display: none;
}
ul,ol{
	list-style-type: none;
}
table{
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	line-height: 1;
	vertical-align: baseline;
	outline: none;
}
a img{
	border: none;
	outline: none;
}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
hr{
	box-sizing: content-box;
	height: 0;
}
dt,dd,li,
th,td,
input,textarea{
	text-align: left;
	vertical-align: top;
}
button{
	border: none;
}
input,textarea,button{
	margin: 0;
	padding: 0;
}
input{
	border: 1px solid #dad7d3;
	height: auto;
	padding: 2px 5px;
}
textarea{
	border: 1px solid #dad7d3;
	height: 78px;
/*	resize: none;*/
}
button,label{
	background-color: transparent;
	cursor: pointer;
}
button,select{
	text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled]{
	cursor: default;
}
input[type="checkbox"],
input[type="radio"]{
	box-sizing: content-box;
	padding: 0;
}
input[type="search"]{
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
	padding: 0;
	border: 0;
}
textarea{
	overflow: auto;
	vertical-align: top;
}
:focus{
	outline: none;
}

/* 0-2. Base
-------------------------------------------------- */
html{
	overflow-y: scroll;
	font-size: 100%;
	visibility: hidden; /* as WebFont */
}
html.wf-active{
	visibility: visible; /* as WebFont */
}
body{
	font-feature-settings : "palt";
	font-family:"游ゴシック", "YuGothic","Roboto Regular","ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","helvetica","arial",sans-serif;
}
html,body{

}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: bold;
}
table{
	width: 100%;
}
input,textarea,button{
	font-family:"游ゴシック", "YuGothic","Roboto Regular","ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","helvetica","arial",sans-serif;
	font-size: 100%;
}
strong{
	font-weight: bold;
}
em{
	font-weight: bold;
}
.ie9 .gradient{
	filter: none;
}
a[href="tel"]{
	color: #a4002c;
}


/* 0-3. Config
-------------------------------------------------- */
body{
	font-size: 14px;
	color: #333;
	background-color: #fff;
	font-family: 'Noto Sans JP', sans-serif;
}
a,
a:link{
	color: #336699;
	text-decoration: none;
}
/* a:visited{
	color: #993399;
} */
a:hover,
a:active{
	opacity: 0.7;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.4;
}
p{
	line-height: 1.7;
}
dt,dd,li,
th,td,
input,
textarea,
button{
	line-height: 1.6;
}
input{
	font-size: 16px;
	box-sizing: border-box;
}
select{
	display: block;
}
textarea{
	width: 100%;
	display: block;
	font-size: 16px;
	box-sizing: border-box;
}



/* -----------------------------------------------
 [1. Layout]
-------------------------------------------------- */
/* 1-1. #l-document
-------------------------------------------------- */
#l-document{
	position: relative;
	overflow: hidden;
}
@media only screen and (min-width:1px) and (max-width:1024px){
	#l-document{

	}
}/* endMedia */

/* 1-2. #l-header
-------------------------------------------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	background: var(--main-purple);
	z-index: 5;
	font-size: 0;
	padding: 13px;
	text-align: center;
}
.header img {
	width: 73px;
	height: auto;
}
@media only screen and (min-width:1px) and (max-width:767px){
	.header {
		padding: 7px;
	}
	.header img {
		width: 45px;
	}
}
/* 1-3. #l-container
-------------------------------------------------- */


/* 1-3-1. #l-main
-------------------------------------------------- */


/* 1-3-2. #l-sub
-------------------------------------------------- */


/* 1-4. #l-footer
-------------------------------------------------- */

.footer{
	color: #fff;
	position: relative;
	margin-top: 125px;
}
.footer__inner{
	display: table;
	width: 100%;
	padding: 35px 45px 5px;
	box-sizing: border-box;
	background-color:  var(--main-purple);
}
.footer__nav{
	width: 65%;
	display: table-cell;
	padding-right: 10px;
	vertical-align: top;
}
.footer__nav__inner{
	display: table;
	width: 100%;
}
.footer__logo{
	display: table-cell;
	width: 9.5%;
	padding-right: 20px;
	vertical-align: top;
	line-height: 0;
	font-size: 0;
}
.footer__nav__inner ul{
	display: table-cell;
	vertical-align: middle;
	font-family: 'Noto Sans JP', sans-serif;
}
.footer__nav__inner li {
	display: inline-block;
}
.footer__nav__inner li a{
	padding: 0 6px;
	box-sizing: border-box;
	color: #fff;
	display: block;
}
.footer__logo img{
	width: 70px;
}
.footer__pagetop{
	position: absolute;
	right: 0;
	top: -60px;
}
.footer__pagetop a {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background-color:  var(--main-purple);
	font-size: 20px;
}
.footer__pagetop a i {
	font-weight: 900;
}
.txt-copyright {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	font-size: 15px;
	letter-spacing: -0.05em;
	line-height: 2;
}
.footer__schedule {
	box-shadow: 0px -3px 6px rgba(0,0,0,0.16);
	background-color:  var(--main-purple);
	margin-bottom: 1px;
}
.footer__schedule__inner {
	max-width: 780px;
	padding: 18px 15px 25px;
	margin: 0 auto;
}
.footer__schedule__ttl {
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 1.2;
}
.lst-schedule {
	margin: 18px -10px 0;
	font-size: 0;
	text-align: center;
}
.lst-schedule > li {
	display: inline-block;
	float: none;
	vertical-align: middle;
	width: 50%;
	padding: 0 10px;
	box-sizing: border-box;
}
.box-schedule {
	position: relative;
	color: var(--main-purple);
	background-color: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	border-radius: 2px;
	display: block;
	transition: all 0.5s ease;
}
.box-schedule:link {
	color: var(--main-purple);
}
.box-schedule::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 16px 0 0;
	border-color: var(--main-purple) transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.box-schedule___subttl {
	position: relative;
	background-color:  var(--main-color);
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 10px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
	padding: 3px 0;
	width: 100px;
	letter-spacing: 0.1em;
}
.box-schedule___subttl::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 16px 0 0;
	border-color: var(--main-color) transparent transparent transparent;
	position: absolute;
	top: 0;
	right: -16px;
}
.box-schedule___subttl span {
	margin-left: 15px;
}
.box-schedule__content {
	padding: 0 0 10px 25px;
	text-align: center;
	line-height: 1;
	position: relative;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.box-schedule__content::before {
	content: "\f054";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	color: var(--main-purple);
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 6%;
	margin-top: -6px;
}
.box-schedule__number {
	font-size: 44px;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
}
.box-schedule__day {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	display: inline-block;
	padding: 0 15px;
	position: relative;
	top: -4px;
}
.box-schedule__time {
	font-size: 37px;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 2px;
}
.footer__schedule.is-sticky {
	position: fixed;
	z-index: 99;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.footer__schedule.is-sticky .footer__schedule__inner {
	max-width: 860px;
	box-sizing: border-box;
	display: table;
}
.footer__schedule.is-sticky .footer__schedule__inner:after {
	content: '';
	display: block;
	clear: both;
}
.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl {
	width: 14em;
	padding: 5px 0 0 10px;
	font-size: 18px;
	text-align: left;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}
.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__detail {
	padding: 0 10px;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}
.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__detail .lst-schedule {
	margin-top: 0;
}
.footer__schedule.is-sticky .lst-schedule > li {
	width: 289px;
}
.footer__schedule.is-sticky .box-schedule {
	width: 269px;
}
.footer__schedule.is-sticky .box-schedule__content {
	padding: 2px 0 5px 20px;
}
.footer__schedule.is-sticky .box-schedule__content::before {
	font-size: 9px;
	margin-top: -5px;
	left: 5%;
}
.footer__schedule.is-sticky .box-schedule___subttl {
	font-size: 8px;
	padding: 2px 0;
	width: 75px;
}
.footer__schedule.is-sticky .footer__schedule__inner {
	padding: 10px 15px 10px;
}
.footer__schedule.is-sticky .box-schedule__number {
	font-size: 34px;
}
.footer__schedule.is-sticky .box-schedule__day {
	font-size: 20px;
	padding: 0 6px;
}
.footer__schedule.is-sticky .box-schedule__time {
	font-size: 28px;
	top: 0px;
}
.footer__schedule.is-sticky .box-schedule::before {
	border-width: 12px 12px 0 0;
}
.footer__schedule.is-sticky .box-schedule___subttl::before {
	border-width: 12px 12px 0 0;
	right: -12px;
}
@media screen and (max-width: 1199px) and (min-width: 768px){
	.footer__nav{
		width: 50%;
	}
}
@media screen and (max-width: 1019px) and (min-width: 768px){
	.footer__inner{
		padding: 35px 15px 5px;
	}
	.footer__nav__inner li a{
		font-size: 11px;
	}
	.footer__schedule.is-sticky .box-schedule__content {
		letter-spacing: 0.01em;
	}
}
@media screen and (max-width: 767px) {
	.footer__pagetop{
		top: -46px;
	}
	.footer__pagetop a{
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 16px;
	}
	.footer__inner{
		padding: 30px 15px 20px;
	}
	.footer__nav{
		width: 100%;
		padding-right: 0;
		display: block;
	}
	.footer__logo{
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.footer__logo img{
		width: 60px;
	}
	.footer__nav__inner ul{
		display: block;
		text-align: center;
		font-size: 11px;
		margin-top: 10px;
	}
	.footer__nav__inner li{
		padding: 0 5px;
		letter-spacing: 0.01em;
	}
	.txt-copyright {
		display: block;
		text-align: center;
		margin-top: 23px;
		font-size: 11px;
		letter-spacing: 0.05em;
	}
	.lst-schedule {
		margin: 7px -5px 0;
	}
	.lst-schedule > li {
		padding: 0 5px;
	}
	.footer__schedule__ttl {
		font-size: 14px;
	}
	.footer__schedule.is-sticky .footer__schedule__inner,
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl,
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__detail {
		display: block;
		width: auto;
	}
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl {
		text-align: center;
		font-size: 12px;
		float: none;
		width: 100%;
		padding: 0;
	}
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl::before {
		content: '＼';
		display: inline-block;
		padding: 0 5px;
	}
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl::after {
		content: '／';
		display: inline-block;
		padding: 0 5px;
	}
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl br {
		display: none!important;
	}
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__detail {
		float: none;
		width: 100%;
		margin-top: 10px;
		padding: 0;
		margin-top: 5px;
	}
	.footer__schedule.is-sticky .lst-schedule > li {
		width: 50%;
	}
	.footer__schedule.is-sticky .box-schedule {
		width: auto;
	}
	.box-schedule__content,
	.footer__schedule.is-sticky .box-schedule__content {
		padding: 2px 0 5px 16px;
		letter-spacing: 0.01em;
	}
	.box-schedule__content::before,
	.footer__schedule.is-sticky .box-schedule__content::before {
		font-size: 9px;
		margin-top: -5px;
		left: 6%;
	}
	.box-schedule___subttl,
	.footer__schedule.is-sticky .box-schedule___subttl {
		font-size: 8px;
		padding: 2px 0;
		width: 75px;
	}
	.footer__schedule__inner,
	.footer__schedule.is-sticky .footer__schedule__inner {
		padding: 10px 15px 10px;
	}
	.box-schedule__number,
	.footer__schedule.is-sticky .box-schedule__number {
		font-size: 24px;
	}
	.box-schedule__day,
	.footer__schedule.is-sticky .box-schedule__day {
		font-size: 12px;
		padding: 0 2px;
		position: relative;
		top: -2px;
	}
	.box-schedule__time,
	.footer__schedule.is-sticky .box-schedule__time {
		font-size: 20px;
		top: 0px;
	}
	.box-schedule::before,
	.footer__schedule.is-sticky .box-schedule::before {
		border-width: 12px 12px 0 0;
	}
	.box-schedule___subttl::before,
	.footer__schedule.is-sticky .box-schedule___subttl::before {
		border-width: 12px 12px 0 0;
		right: -12px;
	}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl{
		font-size: 16px;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.footer__schedule.is-sticky .footer__schedule__inner .footer__schedule__ttl{
		padding-top: 6px;
	}
}


/* 1-5. #l-navGlobal
-------------------------------------------------- */
#l-navGlobal{

}


/* 1-6. pageHeader
-------------------------------------------------- */



/* 1-7. layoutType
-------------------------------------------------- */



/* -----------------------------------------------
 [2. Object]
-------------------------------------------------- */

/* 2-1. Component a.k.a Module
-------------------------------------------------- */
/*2-1-1.  Wrap     [wrp-***]*/
.wrp-content {
	max-width: 1400px;
	padding: 0 0;
	margin: 0 auto;
}

/*2-1-2.  Box      [box-***]*/
/* Box main visual */
.box-manivisual{
	position: relative;
}
.box-manivisual__inner{
	box-sizing: border-box;
}
.box-manivisual__inner::after{
	content: "";
	clear: both;
	display: block;
}
.box-manivisual__col4{
	box-sizing: border-box;
	float: left;
	width: 33.3333333333%;
	border-left: solid 1px #fff;
}
.box-manivisual__col4:first-child{
	border-left: 0;
}
.box-manivisual__col4::after{
	clear: both;
	content: "";
	display: table;
}
.box-manivisual__image{
	line-height: 0;
}
.box-manivisual__image + .box-manivisual__image{
	border-top: solid 1px #fff;
}
.box-manivisual__heading{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 138px;
}
.box-manivisual .hdg-lv1{
	text-align: right;
}
.box-manivisual .hdg-lv1 span{
	background-color: var(--main-color);
	color: #fff;
	display: inline-block;
	text-align: right;
	padding: 4px 15px;
	letter-spacing: 0.16em;
}
.box-manivisual .hdg-lv1 span + span{
	margin-top: 20px;
	display: block;
}
.box-manivisual .slick-slide{
	height: 100%!important;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.box-manivisual__heading{
		right: 60px;
	}
	.box-manivisual .hdg-lv1{
		font-size: 42px;
	}
}
@media screen and (max-width: 767px){
	.box-manivisual__col6--sp{
		width: 50%;
	}
	.box-manivisual__col12--sp{
		width: 100%;
	}
	.box-manivisual__col12--sp .box-manivisual__image{
		float: left;
		width: 50%;
	}
	.box-manivisual__col12--sp .box-manivisual__image{
		border-top: solid 1px #fff;
	}
	.box-manivisual__col12--sp .box-manivisual__image + .box-manivisual__image{
		border-left: solid 1px #fff;
	}
	.box-manivisual__col12--sp .box-manivisual__image::after{
		clear: both;
		content: "";
		display: table;
	}
	.box-manivisual__col4:nth-child(3){
		border-left: 0;
	}
	.box-manivisual__heading{
		top: 68%;
		right: 16px;
	}
	.box-manivisual .hdg-lv1 span{
		padding: 4px 10px;
	}
	.box-manivisual .hdg-lv1 span + span{
		margin-top: 10px;
	}
}

/* Box lead */
.box-lead{
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
	background-color: var(--main-purple);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 25px 80px 40px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.box-lead::after{
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	z-index: 10;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	margin-left: -11px;
	left: 50%;
	border-top: 17px solid var(--main-purple);
	bottom: -17px;
}
.box-lead__title{
	border-bottom: solid 2px #fff;
	padding-bottom: 17px;
}
.box-lead__title em{
	display: block;
	font-size: 14px;
	font-style: normal;
}
.box-lead__title span{
	display: block;
	font-size: 26px;
	line-height: 1;
}
.box-lead__title img{
	max-width: 290px;
}
.box-lead__text{
	line-height: 1.9;
	padding-top: 12px;
	letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.box-lead__text .is-visibleSp{
		display: block!important;
	}
}
@media screen and (max-width: 767px) {
	.box-lead{
		max-width: 100%;
		padding: 35px 20px 40px;
	}
	.box-lead__title{
		padding-bottom: 10px;
	}
	.box-lead__title span{
		margin-bottom: -2px;
		letter-spacing: 0.25em;
	}
	.box-lead__text{
		padding-top: 12px;
		letter-spacing: 0.046em;
	}
}
@media screen and (max-width: 480px) {
	.box-lead__title span{
		font-size: 22px;
	}
}

/* Box anchor link */
.box-anchorlink{
	padding: 80px 0 125px;
}
.box-anchorlink__content{
	position: relative;
	z-index: 4;
}
.box-anchorlink__item{
	position: relative;
	display: block;
	transition: all .3s ease;
	background: #fff;
}
.box-anchorlink__item:hover{
	opacity: 1;
}
.box-anchorlink__item:hover .box-anchorlink__image{
	opacity: 0.7;
}
.box-anchorlink__bigtitle{
	position: relative;
}
.box-anchorlink__bigtitle-title{
	font-size: 48px;
	font-weight: bold;
	color: var(--main-color);
	text-align: center;
	line-height: 1;
	letter-spacing: 0.137em;
	margin-bottom: 68px;
	position: relative;
	z-index: 4;
	font-style: normal;
}
.box-anchorlink__bigtitle-title em{
	display: block;
	font-size: 34px;
	letter-spacing: 0.123em;
	margin-bottom: 10px;
	font-style: normal;
}
.box-anchorlink__bg01{
	position: absolute;
	top: -115px;
	right: -25px;
	width: 368px;
	z-index: 2;
}
.box-anchorlink__image{
	background: #000;
	line-height: 0;
	transition: all .3s ease;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.box-anchorlink__title{
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.box-anchorlink__button{
	position: absolute;
	bottom: -25px;
	left: 0;
}
.box-anchorlink__button span{
	background-color: var(--main-color);
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.box-anchorlink__item--01{
	margin-top: -20px;
}
.box-anchorlink__item--03{
	margin-top: -10px;
}

@media screen and (min-width: 1080px) and (max-width: 1250px) {
	.box-anchorlink{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
	.box-anchorlink{
		padding-left: 20px;
		padding-right: 20px;
	}
	.box-anchorlink__bigtitle-title {
		text-align: left;
	}
	.box-anchorlink__bg01{
		width: 280px;
		top: -100px;
	}
}

@media screen and (max-width: 767px) {
	.box-anchorlink{
		padding: 43px 0 55px 20px;
	}
	.box-anchorlink__content .grid-4{
		padding: 0 2px;
	}
	.box-anchorlink__bigtitle-title{
		font-size: 28px;
		text-align: left;
		letter-spacing: 0.080em;
		margin-bottom: 57px;
	}
	.box-anchorlink__bigtitle-title em{
		font-size: 18px;
		letter-spacing: 0.103em;
		margin-bottom: 6px;
	}
	.box-anchorlink__bg01{
		top: -61px;
		right: -68px;
		width: 187px;
	}
	.box-anchorlink__title{
		font-size: 14px;
	}
	.box-anchorlink__button{
		bottom: -15px;
	}
	.box-anchorlink__button span{
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.box-anchorlink__item--01{
		margin-top: -20px;
	}
	.box-anchorlink__item--03{
		margin-top: -10px;
	}
}

/* temp (move to 2-5. Project)*/
.section-anchorlink{
	position: relative;
}
.section-anchorlink__content{
	max-width: 1180px;
	margin: 0 auto;
}
.section-anchorlink .box-lead{
	position: absolute;
	left: 0;
	right: 0;
	top: -160px;
	z-index: 2;
}
.section-anchorlink__bg01{
	position: absolute;
	top: 50%;
	right: -50px;
}
/*--▽⽬次リンク／4▽--*/

/*--△⽬次リンク／4△--*/

/*--▽⽬次リンク／5▽--*/
.section-anchorlink__content--col5 .grid-row{
	text-align: center;
	font-size: 0;
}
.section-anchorlink__content--col5 .grid-4{
	float: none;
	display: inline-block;
}
.section-anchorlink__content--col5 .grid-4:nth-child(4),
.section-anchorlink__content--col5 .grid-4:nth-child(5){
	margin-top: 70px;
}
/*--△⽬次リンク／5△--*/

/*--▽⽬次リンク／6▽--*/
.section-anchorlink__content--col6 .grid-4:nth-child(4),
.section-anchorlink__content--col6 .grid-4:nth-child(5),
.section-anchorlink__content--col6 .grid-4:nth-child(6){
	margin-top: 70px;
}
/*--△⽬次リンク／6△--*/
@media screen and (min-width: 1080px) and (max-width: 1290px){
	.box-lead{
		max-width: 80%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1079px){
	.section-anchorlink .box-lead{
		position: relative;
		top: -1px;
		max-width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.section-anchorlink .box-lead{
		position: relative;
		left: 0;
		right: 0;
		top: -1px;
	}
	.section-anchorlink__bg01{
		display: none;
	}
	/*--▽⽬次リンク／4▽--*/
	.section-anchorlink__content--col4 .grid-3:nth-child(3){
		margin-top: 25px;
	}
	.section-anchorlink__content--col4 .grid-3:nth-child(4){
		margin-top: 55px;
	}
	/*--△⽬次リンク／4△--*/

	/*--▽⽬次リンク／5▽--*/
	.section-anchorlink__content--col5 .grid-4:nth-child(4),
	.section-anchorlink__content--col5 .grid-4:nth-child(5){
		margin-top: 55px;
	}
	/*--△⽬次リンク／5△--*/

	/*--▽⽬次リンク／6▽--*/
	.section-anchorlink__content--col6 .grid-4:nth-child(4),
	.section-anchorlink__content--col6 .grid-4:nth-child(5),
	.section-anchorlink__content--col6 .grid-4:nth-child(6){
		margin-top: 55px;
	}
	/*--△⽬次リンク／6△--*/
}



.box-point {
	position: relative;
}
.box-point--01 {
	margin-bottom: 244px;
	margin-top: 160px;
}
.box-point--02 {
	margin-bottom: 164px;
}
.box-point--03 {
	margin-top: 160px;
	margin-bottom: 200px;
}
.box-point--04 {
	margin-bottom: 204px;
}
.box-point:after {
	content: "";
	display: block;
	clear: both;
}
.box-point__title {
	text-align: right;
	width: 40.677%;
	position: absolute;
	top: 0;
	right: 0;
}
.box-point--rt .box-point__title {
	text-align: left;
	left: 0;
	right: auto;
}
.box-point__title__point {
	color: var(--main-color);
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	letter-spacing: 0.08em;
}
.box-point__title__title {
	font-size: 28px;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: 0.08em;
}
.box-point__slide {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.box-point__slide__main {
	display: table-cell;
	vertical-align: bottom;
	width: 59.323%;
	position: relative;
}
.box-point--player .box-point__slide__main {
	padding-right: 102px;
	padding-bottom: 167px;
}
.box-point--player .box-point__slide__main:before {
	content: "";
	display: block;
	width: -webkit-calc(100% - 102px);
	width: calc(100% - 102px);
	position: absolute;
	right: 0;
	bottom: 0;
	padding-top: 43.529%;
	background: var(--main-color);
	pointer-events: none;
}
.box-point--player--lt .box-point__slide__main {
	padding-right: 0;
	padding-left: 102px;
}
.box-point--player--lt .box-point__slide__main:before {
	right: auto;
	left: 0;
}
.box-point--player .box-point__slide__thumb {
	padding-bottom: 168px;
}
.box-point--02 .box-point__slide__main,
.box-point--02 .box-point__slide__thumb, {
	padding-bottom: 0;
}
.box-point__slide__main__slide {
	margin-bottom: 0 !important;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	z-index: 3;
}
.box-point__slide__thumb {
	width: 40.677%;
	display: table-cell;
	vertical-align: bottom;
	box-sizing: border-box;
	padding-left: 20px;
}
.box-point--rt .box-point__slide__thumb {
	padding-left: 0;
	padding-right: 20px;
}
.box-point__slide__player {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 771px;
	pointer-events: none;
	z-index: 3;
}
.box-point__slide__player__image,
.box-point__slide__player__name {
	position: absolute;
	-webkit-transform: translateX(25vw);
	transform: translateX(25vw);
	opacity: 0;
	transition: all 0.7s ease;
}
.box-point--player--lt .box-point__slide__player__image,
.box-point--player--lt .box-point__slide__player__name {
	-webkit-transform: translateX(-25vw);
	transform: translateX(-25vw);
}
.slick-current .box-point__slide__player__image,
.slick-current .box-point__slide__player__name,
.box-point--player--lt .slick-current .box-point__slide__player__image,
.box-point--player--lt .slick-current .box-point__slide__player__name {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.box-point__slide__player__image {
	max-height: 771px;
	width: auto !important;
	bottom: 0;
	right: -175px;
}
.box-point--player--lt .box-point__slide__player__image {
	right: auto;
	left: -175px;
}
.box-point__slide__player__name {
	font-size: 28px;
	color: #fff;
	left: 170px;
	bottom: 45px;
	line-height: 1.3;
	letter-spacing: 0.2em;
	text-align: left;
}
.box-point__slide__player__name small {
	display: block;
	font-size: 20px;
	letter-spacing: 0.06em;
}
.box-point--player--lt .box-point__slide__player__name {
	left: auto;
	right: 170px;
}
.box-point__illust {
	position: absolute;
	pointer-events: none;
}
.box-point__illust--ball {
	bottom: 160px;
	right: -146px;
}
.box-point__illust--pom {
	bottom: 138px;
	right: -248px;
}
.box-point__illust--mascot {
	bottom: 130px;
	left: -250px;
}
.box-point__illust--event {
	bottom: 160px;
	right: -290px;
}

.box-point .slick-slide img {
	width: 100%;
	height: auto;
}
.box-point .slick-slide {
	font-size: 0;
}
.box-point .slick-dots {
	text-align: left;
	bottom: -30px;
	height: 8px;
}
.box-point .slick-dots li {
	width: 8px;
	height: 8px;
	margin-right: 10px;
	margin-left: 0;
}
.box-point .slick-dots li button {
	width: 8px;
	height: 8px;
	background: var(--main-color);
	opacity: 0.5;
	padding: 0;
}
.box-point .slick-dots li:hover button,
.box-point .slick-dots li.slick-active button {
	opacity: 1;
}
.box-point .slick-dots li button:before {
	display: none;
}
.box-point--rt .slick-dots {
	text-align: right;
	direction: ltr;
}
.box-point--rt .slick-dots li {
	margin-right: 0;
	margin-left: 10px;
}
.box-point--player .slick-dots {
	display: none !important;
}
.box-point__slide__thumb .slick-slide {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.box-point__slide__thumb__slide {
	margin-left: -300px;
	margin-right: -600px;
	z-index: 2;
}
.box-point--rt .box-point__slide__thumb__slide,
.box-point--player .box-point__slide__thumb__slide {
	margin-right: -300px;
	margin-left: -600px;
}
.box-point--player--lt .box-point__slide__thumb__slide {
	margin-left: -300px;
	margin-right: -600px;
}
.box-point__slide__thumb .slick-slide {
	width: 280px;
	margin-right: 20px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	transition: all 0.7s ease;
}
.box-point__slide__thumb .slick-slide.slick-current {
	opacity: 0;
}
.box-point__slide__player .slick-track,
.box-point__slide__player .slick-list {
	height: 771px;
}
.box-point__slide__player .slick-list {
	overflow: visible;
}
.box-point .slick-next,
.box-point .slick-prev {
	background: var(--main-color);
	width: 60px;
	height: 60px;
	top: auto;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	bottom: -30px;
	z-index: 4;
	text-align: center;
}
.box-point .slick-prev {
	right: -8px;
	left: auto;
}
.box-point .slick-next {
	right: -69px;
}
.box-point--rt .slick-prev {
	left: -69px;
	right: auto;
}
.box-point--rt .slick-next {
	left: -8px;
	right: auto;
}
.box-point .slick-next:before,
.box-point .slick-prev:before {
	opacity: 1;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.box-point .slick-prev:before {
	content: "\f060";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
}
.box-point .slick-next:before {
	content: "\f061";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
}
@media only screen and (min-width:1px) and (max-width:1599px){
	.box-point {
		padding-left: 110px;
	}
	.box-point--rt,
	.box-point--player {
		padding-left: 0;
		padding-right: 110px;
	}
	.box-point--player--lt {
		padding-left: 110px;
		padding-right: 0;
	}
}
@media only screen and (min-width:1px) and (max-width:1399px){
	.box-point__title {
		width: auto;
		padding-right: 55px;
	}
	.box-point--rt .box-point__title,
	.box-point--player .box-point__title {
		padding-left: 55px;
		padding-right: 0;
	}
	.box-point--player--lt .box-point__title {
		padding-right: 55px;
		padding-left: 0;
	}
}
@media only screen and (min-width:1px) and (max-width:1279px){
	.box-point {
		padding-left: 55px;
	}
	.box-point--rt,
	.box-point--player {
		padding-left: 0;
		padding-right: 55px;
	}
	.box-point--player--lt {
		padding-left: 55px;
		padding-right: 0;
	}
	.box-point__slide__player__name {
		left: 150px;
		max-width: 6em;
		margin: 0 auto;
		text-align: left;
	}
	.box-point--player--lt .box-point__slide__player__name {
		left: auto;
		right: 150px;
	}
}
@media only screen and (min-width:1px) and (max-width:1089px){
	.box-point {
		padding-top: 7em;
	}
	.box-point__illust--mascot {
		bottom: 0px;
		left: -166px;
	}
	.box-point__illust--event {
		bottom: auto;
		top: -328px;
		right: auto;
		left: -10px;
	}
}
@media only screen and (min-width:1px) and (max-width:1023px){
	.box-point {
		padding-top: 14em;
	}
	.box-point__title,
	.box-point--rt .box-point__title,
	.box-point--player .box-point__title {
		width: auto;
		padding: 0 55px;
	}

	.box-point__illust--mascot {
		bottom: 97px;
		left: auto;
		right: 0;
	}
	.box-point__slide__player {
		height: 550px;
	}
	.box-point__slide__player .slick-track,
	.box-point__slide__player .slick-list {
		height: 550px;
	}
	.box-point__slide__player__image {
		max-height: 550px;
		width: auto !important;
		bottom: 0;
		right: -124px;
	}
	.box-point--player--lt .box-point__slide__player__image {
		right: auto;
		left: -124px;
	}
}
@media only screen and (min-width:1px) and (max-width:767px){
	.box-point,
	.box-point--03,
	.box-point--rt,
	.box-point--player {
		padding: 0;
	}
	.box-point--01 {
		margin-top: 50px;
		margin-bottom: 63px;
	}
	.box-point--02 {
		margin-bottom: 100px;
	}
	.box-point--03{
		margin-top: 50px;
		margin-bottom: 150px;
	}
	.box-point--04{
		margin-bottom: 70px;
	}
	.box-point__title,
	.box-point--rt .box-point__title,
	.box-point--player .box-point__title {
		position: static;
		width: auto;
		float: none;
		padding: 0 15px;
		margin-bottom: 35px;
	}
	.box-point__title__point {
		font-size: 10px;
	}
	.box-point__title__title {
		font-size: 16px;
	}
	.box-point__slide,
	.box-point__slide__main {
		display: block;
		width: auto;
	}
	.box-point__slide__main__slide {
		box-shadow: none;
	}
	.box-point__slide__thumb {
		display: none;
	}
	.box-point__slide__main__slide .slick-slide {
		margin: 0 5px;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		font-size: 0;
		position: relative;
		-webkit-transform: scale(0.79);
		transform: scale(0.79);
		transition: all 0.5s ease;
		-webkit-transform-origin: right top;
		transform-origin: right top;
	}
	.box-point__slide__main__slide .slick-slide img {
		display: inline-block;
		transition: all 0.5s ease;
	}
	.box-point__slide__main__slide .slick-center + .slick-slide,
	.box-point__slide__main__slide .slick-current + .slick-slide,
	.box-point--rt .box-point__slide__main__slide .slick-slide {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
	}
	.box-point--rt .box-point__slide__main__slide .slick-center + .slick-slide,
	.box-point--rt .box-point__slide__main__slide .slick-current + .slick-slide {
		-webkit-transform-origin: right top;
		transform-origin: right top;
	}
	.box-point__slide__main__slide .slick-center {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.box-point__slide__main__slide .slick-list {
		padding-bottom: 23px !important;
	}
	.box-point .slick-dots {
		padding: 0 33px;
		bottom: 0;
	}
	.box-point .slick-dots li,
	.box-point .slick-dots li button {
		width: 6px;
		height: 6px;
	}
	.box-point .slick-next,
	.box-point .slick-prev {
		width: 45px;
		height: 45px;
		bottom: 0;
	}
	.box-point .slick-next:before,
	.box-point .slick-prev:before {
		font-size: 21px;
	}
	.box-point .slick-prev {
		right: 46px;
	}
	.box-point .slick-next {
		right: 0;
	}
	.box-point--rt .slick-prev,
	.box-point--player .slick-prev {
		right: auto;
		left: 0;
	}
	.box-point--rt .slick-next,
	.box-point--player .slick-next {
		right: auto;
		left: 46px;
	}
	.box-point--player--lt .slick-prev {
		right: 46px;
		left: auto;
	}
	.box-point--player--lt .slick-next {
		right: 0;
		left: auto;
	}
	.box-point__illust--ball{
		bottom: 247px;
		right: auto;
		left: -25px;
	}
	.box-point__illust--ball img{
		width: 98px;
	}
	.box-point__illust--pom {
		bottom: auto;
		top: -88px;
		right: auto;
		left: -15px;
	}
	.box-point__illust--mascot{
		bottom: auto;
		top: -260px;
		left: auto;
		right: -180px;
	}
	.box-point__illust--event {
		top: -149px;
		right: auto;
		left: -30px;
	}
	.box-point__illust--event img{
		width: 180px;
	}
	.box-point--player .box-point__slide {
		width: auto;
		margin: 0;
	}
	.box-point--player .box-point__slide__main {
		width: auto;
		padding-right: 0;
		padding-bottom: 120px;
	}
	.box-point--player--lt .box-point__slide__main {
		padding-left: 0;
	}
	.box-point__slide__player {
		height: 0;
		padding-bottom: 128.5%;
	}
	.box-point__slide__player .slick-track, .box-point__slide__player .slick-list {
		height: 128.5vw;
	}
	.box-point--player .slick-dots {
		text-align: center;
		display: block !important;
	}
	.box-point--player .slick-dots li button {
		background: #fff;
	}
	.box-point--player .box-point__slide__main:before {
		width: calc(100% - 28vw - 15px);
		right: 15px;
		padding-top: 66.6666667%;
	}
	.box-point--player--lt .box-point__slide__main:before {
		right: auto;
		left: 15px;
	}
	.box-point__slide__player__name,
	.box-point--player--lt .box-point__slide__player__name {
		font-size: 20px;
		text-align: center;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 20px;
		margin: 0 auto;
	}
	.box-point__slide__player__name small {
		font-size: 14px;
	}
	.box-point__slide__player .slick-slide {
		text-align: right;
	}
	.box-point__slide__player__image {
		max-height: 108vw;
		right: -23.7333vw;
		/*bottom: 39px;*/
	}
	.box-point--player--lt .box-point__slide__player__image {
		right: auto;
		left: -23.7333vw;
	}
}

.section-point {
	padding-bottom: 219px;
}
@media only screen and (min-width:1px) and (max-width:767px){
	.section-point{
		padding-bottom: 100px;
	}
}

/*2-1-3.  Table    [tbl-***]*/



/*2-1-4.  Headings [hdg_lv*]*/
.hdg-lv1{
	font-size: 50px;
}
@media screen and (max-width: 767px) {
	.hdg-lv1{
		font-size: 24px;
	}
}

.box-title-h2 {
	height: 300px;
	position: relative;
}
.hdg-lv2 {
	font-size: 38px;
	margin-left: 40px;
	line-height: 1;
	color: #fff;
	letter-spacing: 3px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hdg-lv2 .hdg-lv2__wrp {
	display: inline-block;
	padding: 10px 6px 10px 15px;
	background-color: var(--main-color);
	margin-top: 10px;
	letter-spacing: 0.2em;
}
.hdg-lv2 .hdg-lv2__wrp:first-child {
	margin-top: 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.box-title-h2 {
		height: 200px;
	}
	.hdg-lv2 {
		font-size: 32px;
	}
	.hdg-lv2 .hdg-lv2__wrp {
		padding: 8px 4px 8px 12px;
	}
}
@media screen and (min-width: 1px) and (max-width: 767px) {
	.box-title-h2 {
		height: 140px;
	}
	.hdg-lv2 {
		margin-left: 0;
		font-size: 18px;
	}
	.hdg-lv2 .hdg-lv2__wrp {
		padding: 0;
		margin-top: 0;
		background-color: transparent;
		margin-top: 5px;
	}
	.hdg-lv2 .hdg-lv2__wrp span {
		display: inline-block;
		padding: 6px;
		margin-top: 5px;
		background-color: var(--main-color);
	}
}

.hdg-lv3 {
	font-size: 28px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.1em;
	color: #333;
}
@media screen and (min-width: 1px) and (max-width: 767px) {
	.hdg-lv3 {
		font-size: 16px;
	}
}


/*2-1-5.  Nav      [nav-***]*/


/*2-1-6.  List     [lst-***]*/


/*2-1-7.  Button   [btn-***]*/
a.btn01 {}



/*2-1-8.  Anchor   [acr-***]*/


/*2-1-9.  Text     [txt-***]*/
.txt-break{ /* <br> */
  display: none;
}
.txt-oswald {
	font-family: 'Oswald', sans-serif;
}
.txt-roboto {
	font-family: 'Roboto', sans-serif;
}


/*2-1-10. Icon     [icn-***]*/

/*2-1-11. Label    [lbl-***]*/



/*2-1-12. Form     [frm-***]*/
/*::-webkit-input-placeholder{
  padding: 2px 6px 4px;
  font-size: 12px;
  color: #999;
}
::-moz-placeholder{
  padding: 8px;
  font-size: 12px;
  color: #999;
  opacity: 1;
}
:-ms-input-placeholder{
  padding: 8px;
  font-size: 12px;
  color: #999;
}
:-moz-placeholder{
  padding: 8px;
  font-size: 12px;
  color: #999;
}*/


/*2-1-13. Error    [err-***]*/


/*2-1-14. Panel    [pnl-***]*/



/*2-1-15. Media    [mda-***]*/



/*2-1-16. UI*/

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadeInUp {
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	transition: all 1s ease;
}
.animated.fadeInUp {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.fadeInRight {
	opacity: 0;
	-webkit-transform: translateX(25vw);
	transform: translateX(25vw);
	transition: all 1s ease;
}
.animated.fadeInRight {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.fadeInLeft {
	opacity: 0;
	-webkit-transform: translateX(-25vw);
	transform: translateX(-25vw);
	transition: all 1s ease;
}
.animated.fadeInLeft {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
@media only screen and (min-width:1px) and (max-width:767px){
	.fadeInRight--sp {
		opacity: 0;
		-webkit-transform: translateX(25vw);
		transform: translateX(25vw);
	}
	.fadeInLeft--sp {
		opacity: 0;
		-webkit-transform: translateX(-25vw);
		transform: translateX(-25vw);
	}
}
.delay-lv1 {
	animation-delay: 0.2s;
}
.delay-lv2 {
	animation-delay: 0.4s;
}
.delay-lv3 {
	animation-delay: 0.6s;
}
.delay-lv4 {
	animation-delay: 0.8s;
}






/* 2-2. Utility
-------------------------------------------------- */
/*2-2-1. clearfix [ModernType]*/
#l-header:after,#l-container:after,#l-main:after,#l-sub:after,#l-footer:after,
.nav-sub:after,
.wrp-content:after,
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}


/*2-2-2. margin,padding [mb10,pt20]*/
/* margin  */.m0{margin:0!important;}.m5{margin: 5px!important;}.m10{margin: 10px!important;}.m15{margin: 15px!important;}.m20{margin: 20px!important;}.m25{margin: 25px!important;}.m30{margin: 30px!important;}.m35{margin: 35px!important;}.m40{margin: 40px!important;}.m45{margin: 45px!important;}.m50{margin: 50px!important;}.m55{margin: 55px!important;}.m60{margin: 60px!important;}.m65{margin: 65px!important;}.m70{margin: 70px!important;}.m75{margin: 75px!important;}.m80{margin: 80px!important;}.m85{margin: 85px!important;}.m90{margin: 90px!important;}.m95{margin: 95px!important;}.m100{margin: 100px!important;}/* margin-top */.mt0{margin-top:0!important;}.mt5{margin-top: 5px!important;}.mt10{margin-top: 10px!important;}.mt15{margin-top: 15px!important;}.mt20{margin-top: 20px!important;}.mt25{margin-top: 25px!important;}.mt30{margin-top: 30px!important;}.mt35{margin-top: 35px!important;}.mt40{margin-top: 40px!important;}.mt45{margin-top: 45px!important;}.mt50{margin-top: 50px!important;}.mt55{margin-top: 55px!important;}.mt60{margin-top: 60px!important;}.mt65{margin-top: 65px!important;}.mt70{margin-top: 70px!important;}.mt75{margin-top: 75px!important;}.mt80{margin-top: 80px!important;}.mt85{margin-top: 85px!important;}.mt90{margin-top: 90px!important;}.mt95{margin-top: 95px!important;}.mt100{margin-top: 100px!important;}/* margin-right */.mr0{margin-right:0!important;}.mr5{margin-right: 5px!important;}.mr10{margin-right: 10px!important;}.mr15{margin-right: 15px!important;}.mr20{margin-right: 20px!important;}.mr25{margin-right: 25px!important;}.mr30{margin-right: 30px!important;}.mr35{margin-right: 35px!important;}.mr40{margin-right: 40px!important;}.mr45{margin-right: 45px!important;}.mr50{margin-right: 50px!important;}.mr55{margin-right: 55px!important;}.mr60{margin-right: 60px!important;}.mr65{margin-right: 65px!important;}.mr70{margin-right: 70px!important;}.mr75{margin-right: 75px!important;}.mr80{margin-right: 80px!important;}.mr85{margin-right: 85px!important;}.mr90{margin-right: 90px!important;}.mr95{margin-right: 95px!important;}.mr100{margin-right: 100px!important;}/* margin-bottom */.mb0{margin-bottom:0!important;}.mb5{margin-bottom: 5px!important;}.mb10{margin-bottom: 10px!important;}.mb15{margin-bottom: 15px!important;}.mb20{margin-bottom: 20px!important;}.mb25{margin-bottom: 25px!important;}.mb30{margin-bottom: 30px!important;}.mb35{margin-bottom: 35px!important;}.mb40{margin-bottom: 40px!important;}.mb45{margin-bottom: 45px!important;}.mb50{margin-bottom: 50px!important;}.mb55{margin-bottom: 55px!important;}.mb60{margin-bottom: 60px!important;}.mb65{margin-bottom: 65px!important;}.mb70{margin-bottom: 70px!important;}.mb75{margin-bottom: 75px!important;}.mb80{margin-bottom: 80px!important;}.mb85{margin-bottom: 85px!important;}.mb90{margin-bottom: 90px!important;}.mb95{margin-bottom: 95px!important;}.mb100{margin-bottom: 100px!important;}/* margin-left */.ml0{margin-left:0!important;}.ml5{margin-left: 5px!important;}.ml10{margin-left: 10px!important;}.ml15{margin-left: 15px!important;}.ml20{margin-left: 20px!important;}.ml25{margin-left: 25px!important;}.ml30{margin-left: 30px!important;}.ml35{margin-left: 35px!important;}.ml40{margin-left: 40px!important;}.ml45{margin-left: 45px!important;}.ml50{margin-left: 50px!important;}.ml55{margin-left: 55px!important;}.ml60{margin-left: 60px!important;}.ml65{margin-left: 65px!important;}.ml70{margin-left: 70px!important;}.ml75{margin-left: 75px!important;}.ml80{margin-left: 80px!important;}.ml85{margin-left: 85px!important;}.ml90{margin-left: 90px!important;}.ml95{margin-left: 95px!important;}.ml100{margin-left: 100px!important;}.mb200{margin-bottom: 200px!important;}
/* padding */.p0{padding:0!important;}.p5{padding: 5px!important;}.p10{padding: 10px!important;}.p15{padding: 15px!important;}.p20{padding: 20px!important;}.p25{padding: 25px!important;}.p30{padding: 30px!important;}.p35{padding: 35px!important;}.p40{padding: 40px!important;}.p45{padding: 45px!important;}.p50{padding: 50px!important;}.p55{padding: 55px!important;}.p60{padding: 60px!important;}.p65{padding: 65px!important;}.p70{padding: 70px!important;}.p75{padding: 75px!important;}.p80{padding: 80px!important;}.p85{padding: 85px!important;}.p90{padding: 90px!important;}.p95{padding: 95px!important;}.p100{padding: 100px!important;}/* padding-top */.pt0{padding-top:0!important;}.pt5{padding-top: 5px!important;}.pt10{padding-top: 10px!important;}.pt15{padding-top: 15px!important;}.pt20{padding-top: 20px!important;}.pt25{padding-top: 25px!important;}.pt30{padding-top: 30px!important;}.pt35{padding-top: 35px!important;}.pt40{padding-top: 40px!important;}.pt45{padding-top: 45px!important;}.pt50{padding-top: 50px!important;}.pt55{padding-top: 55px!important;}.pt60{padding-top: 60px!important;}.pt65{padding-top: 65px!important;}.pt70{padding-top: 70px!important;}.pt75{padding-top: 75px!important;}.pt80{padding-top: 80px!important;}.pt85{padding-top: 85px!important;}.pt90{padding-top: 90px!important;}.pt95{padding-top: 95px!important;}.pt100{padding-top: 100px!important;}/* padding-right */.pr0{padding-right:0!important;}.pr5{padding-right: 5px!important;}.pr10{padding-right: 10px!important;}.pr15{padding-right: 15px!important;}.pr20{padding-right: 20px!important;}.pr25{padding-right: 25px!important;}.pr30{padding-right: 30px!important;}.pr35{padding-right: 35px!important;}.pr40{padding-right: 40px!important;}.pr45{padding-right: 45px!important;}.pr50{padding-right: 50px!important;}.pr55{padding-right: 55px!important;}.pr60{padding-right: 60px!important;}.pr65{padding-right: 65px!important;}.pr70{padding-right: 70px!important;}.pr75{padding-right: 75px!important;}.pr80{padding-right: 80px!important;}.pr85{padding-right: 85px!important;}.pr90{padding-right: 90px!important;}.pr95{padding-right: 95px!important;}.pr100{padding-right: 100px!important;}/* padding-bottom */.pb0{padding-bottom:0!important;}.pb5{padding-bottom: 5px!important;}.pb10{padding-bottom: 10px!important;}.pb15{padding-bottom: 15px!important;}.pb20{padding-bottom: 20px!important;}.pb25{padding-bottom: 25px!important;}.pb30{padding-bottom: 30px!important;}.pb35{padding-bottom: 35px!important;}.pb40{padding-bottom: 40px!important;}.pb45{padding-bottom: 45px!important;}.pb50{padding-bottom: 50px!important;}.pb55{padding-bottom: 55px!important;}.pb60{padding-bottom: 60px!important;}.pb65{padding-bottom: 65px!important;}.pb70{padding-bottom: 70px!important;}.pb75{padding-bottom: 75px!important;}.pb80{padding-bottom: 80px!important;}.pb85{padding-bottom: 85px!important;}.pb90{padding-bottom: 90px!important;}.pb95{padding-bottom: 95px!important;}.pb100{padding-bottom: 100px!important;}/* padding-left */.pl0{padding-left:0!important;}.pl5{padding-left: 5px!important;}.pl10{padding-left: 10px!important;}.pl15{padding-left: 15px!important;}.pl20{padding-left: 20px!important;}.pl25{padding-left: 25px!important;}.pl30{padding-left: 30px!important;}.pl35{padding-left: 35px!important;}.pl40{padding-left: 40px!important;}.pl45{padding-left: 45px!important;}.pl50{padding-left: 50px!important;}.pl55{padding-left: 55px!important;}.pl60{padding-left: 60px!important;}.pl65{padding-left: 65px!important;}.pl70{padding-left: 70px!important;}.pl75{padding-left: 75px!important;}.pl80{padding-left: 80px!important;}.pl85{padding-left: 85px!important;}.pl90{padding-left: 90px!important;}.pl95{padding-left: 95px!important;}.pl100{padding-left: 100px!important;}


/*2-2-3. Object-Oriented CSS [OOCSS]*/
.__has-pullRight{
	float: right!important;
}
.__has-pullLeft{
	float: left!important;
}
.right{
	text-align: right!important;
}
.center{
	text-align: center!important;
}
.left{
	text-align: left!important;
}
.top{
	vertical-align: top!important;
}
.middle{
	vertical-align: middle!important;
}
.bottom{
	vertical-align: bottom!important;
}
ul.list li{
	margin-bottom: 6px;
	margin-left: 26px;
	list-style-type: disc!important;
}
ol.list li{
	margin-bottom: 1em;
	margin-left: 23px;
	list-style-type: decimal!important;
}



/* for RWD */
.fluid-image{
	max-width: 100%;
	height: auto;
}
.full-image{
	width: 100%;
	height: auto;
}
.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}






/* 2-2-4. Grid System [grid-***] */
.grid-row{
	box-sizing: border-box;
}
.grid-row:after{
	clear: both;
	content: " ";
	display: table;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
.grid-1--sp, .grid-2--sp, .grid-3--sp, .grid-4--sp, .grid-5--sp, .grid-6--sp, .grid-7--sp, .grid-8--sp, .grid-9--sp, .grid-10--sp, .grid-11--sp, .grid-12--sp{
	box-sizing: border-box;
	float: left;
}

@media (min-width: 0px) and (max-width: 767px){
	.grid-row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
	.grid-1--sp, .grid-2--sp, .grid-3--sp, .grid-4--sp, .grid-5--sp, .grid-6--sp, .grid-7--sp, .grid-8--sp, .grid-9--sp, .grid-10--sp, .grid-11--sp, .grid-12--sp{
		width: 100%;
		padding: 0 5px 0 5px;
	}
	.grid-1--sp{
		width: 8.33333%;
	}
	.grid-2--sp{
		width: 16.66667%;
	}
	.grid-3--sp{
		width: 25%;
	}
	.grid-4--sp{
		width: 33.3333333%;
	}
	.grid-5--sp{
		width: 41.66667%;
	}
	.grid-6--sp{
		width: 50%;
	}
	.grid-7--sp{
		width: 58.33333%;
	}
	.grid-8--sp{
		width: 66.66667%;
	}
	.grid-9--sp{
		width: 75%;
	}
	.grid-10--sp{
		width: 83.33333%;
	}
	.grid-11--sp{
		width: 91.66667%;
	}
	.grid-12--sp{
		width: 100%;
	}
}
@media (min-width: 768px){
	.grid-row{
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12{
		padding: 0 10px;
	}
	.grid-1{
		width: 8.33333333333%;
	}
	.grid-2{
		width: 16.6666666667%;
	}
	.grid-3{
		width: 25%;
	}
	.grid-4{
		width: 33.3333333333%;
	}
	.grid-5{
		width: 41.6666666667%;
	}
	.grid-6{
		width: 50%;
	}
	.grid-7{
		width: 58.3333333333%;
	}
	.grid-8{
		width: 66.6666666667%;
	}
	.grid-9{
		width: 75%;
	}
	.grid-10{
		width: 83.3333333333%;
	}
	.grid-11{
		width: 91.6666666667%;
	}
	.grid-12{
		width: 100%;
	}
}



/* 2-2-5. CSS Animation [act-***] */




/* 2-2-6. WebFont */



/* 2-3. State [is-***]
-------------------------------------------------- */
.is-hide{
	display: none;
}
.is-error{
	background-color: #f9eceb;
}
.is-disabled{
	opacity: 0.3;
}
.is-visiblePc{
	display: block!important;
}
.is-visibleSp{
	display: none!important;
}
.is-visibleTablet{
	display: none!important;
}
@media only screen and (min-width:1px) and (max-width:767px){
	.is-visiblePc{
		display: none!important;
	}
	.is-visibleSp{
		display: block!important;
	}
	.is-visibleTablet{
		display: none!important;
	}
}
@media only screen and (min-width:768px) and (max-width:1024px){
	.is-visibleTablet{
		display: block!important;
	}
}


/* 2-4. OverLayerConfig [z-index]
-------------------------------------------------- */


/* 2-5. Project
-------------------------------------------------- */

.wrp-content--sm {
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;
}
.box-hdg02 {
	height: 300px;
	position: relative;
}
.hdg-lv2 span {
	display: inline-block;
	background-color: var(--main-color);
	letter-spacing: 0.2em;
}
.hdg-lv2 span:first-child {
	margin-top: 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.box-title-h2 {
		height: 200px;
	}
	.hdg-lv2 {
		font-size: 30px;
	}
}
@media screen and (max-width: 767px) {
	.box-hdg02 {
		height: 140px;
	}
	.hdg-lv2 {
		margin-left: 0;
		font-size: 18px;
	}
	.hdg-lv2 span {
		padding: 8px 10px;
		margin-top: 5px;
	}
}

/* box-media */
.box-media {
	margin-top: 160px;
}
.box-media__inner:after {
	content: '';
	display: block;
	clear: both;
}
.box-media__inner {
	margin: 0 -10px;
	z-index: 1;
	position: relative;
}
.box-media__txt {
	float: left;
	width: 41.6%;
	padding: 0 10px;
	margin-top: -6px;
	box-sizing: border-box;
}
.box-media__img {
	float: left;
	width: 58.4%;
	padding: 0 10px;
	box-sizing: border-box;
}
@media only screen and (min-width: 1px) and (max-width: 1023px){
	.box-media {
		margin-top: 60px;
		padding: 0 15px;
	}
	.box-media__txt {
		width: auto;
		float: none;
	}
	.box-media__img {
		float: none;
		width: auto;
		margin-top: 20px;
		text-align: center;
	}
}

/* sec-guide */
.sec-guide {
	margin-top: 105px;
}
.sec-guide .hdg-lv3 {
	margin-top: 40px;
	text-align: center;
}
.lst-guide {
	margin-top: 45px;
	counter-reset: guide;
}
.lst-guide li{
	padding-bottom: 60px;
}
.lst-guide li + li .box-guide:after{
	content: '';
	display: block;
	height: 10px;
	width: 20px;
	background-color: var(--main-color);
	opacity: 0.6;
	position: absolute;
	top: 6px;
	left: -20px;
	z-index: 1;
}
.lst-guide li + li:nth-child(4) .box-guide:after{
	display: none;
}
.box-guide {
	background-color: #f5f5f5;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	position: relative;
}
.box-guide:before {
	counter-increment: guide;
	content: counter(guide);
	display: inline-block;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 28px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: var(--main-color);
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 2;
}
.box-guide__ttl {
	font-size: 20px;
	line-height: 1.5;
	color: #333;
	letter-spacing: 1.6px;
	padding: 40px;
	display: table-cell;
	vertical-align: middle;
}
.box-guide__img {
	line-height: 0;
}
.box-guide__ttl span {
	font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.box-guide__ttl {
		padding: 35px 30px 15px;
	}
	.box-guide__ttl {
		font-size: 18px;
	}
	.sec-guide {
		padding: 0 45px;
	}
}
@media screen and (min-width: 1px) and (max-width: 767px) {
	.sec-guide {
		margin-top: 50px;
		padding: 0;
	}
	.lst-guide {
		margin-top: 25px;
		padding: 0 15px;
	}
	.lst-guide li{
		padding-bottom: 0;
	}
	.lst-guide li + li {
		margin-top: 30px;
	}
	.lst-guide li + li .box-guide:after {
		width: 10px;
		height: 30px;
		left: 10px;
		top: -30px;
	}
	.lst-guide li + li:nth-child(4) .box-guide:after{
		display: block;
	}
	.box-guide {
		text-align: right;
		line-height: 1;
	}
	.box-guide:before {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}
	.box-guide__ttl {
		font-size: 14px;
		padding: 0;
		text-align: left;
		position: absolute;
		left: 15px;
		top: 50%;
		right: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height: 1.75;
	}
	.box-guide__img {
		display: inline-block;
		width: 47.77%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.lst-guide{
		padding: 0 60px;
	}
	.lst-guide li{
		width: 100%;
	}
	.lst-guide li + li {
		margin-top: 30px;
	}
	.lst-guide li + li .box-guide::after {
		width: 10px;
		height: 30px;
		left: 10px;
		top: -30px;
	}
	.box-guide {
		text-align: right;
		line-height: 1;
	}
	.box-guide::before {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}
	.box-guide__ttl {
		font-size: 14px;
		padding: 0;
		text-align: left;
		position: absolute;
		left: 15px;
		top: 50%;
		right: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height: 1.75;
	}
	.box-guide__img {
		display: inline-block;
		width: 47.77%;
	}
}


.bg-back {
	background: url('/files/user/lp/homegame/images/bg-img-02-pc.png') top center;
	background-size: 100% auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
}
.bg-front{
	background: url('/files/user/lp/homegame/images/bg-img-01-pc.png') top center;
	background-size: 100% auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
}
@media only screen and (min-width:1px) and (max-width:767px){
	.bg-back{
		background: url('/files/user/lp/homegame/images/bg-img-02-sp.png') top center;
		background-size: 100% auto;
	}
	.bg-front{
		background: url('/files/user/lp/homegame/images/bg-img-01-sp.png') top center;
		background-size: 100% auto;
	}
}

/* box image */
.box-image{
	position: relative;
}
.box-image__img{
	font-size: 0;
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
@media only screen and (min-width:1px) and (max-width:767px){
	.box-image{
		margin-top: 60px;
		padding: 0 15px;
	}
	.box-image .grid-12--sp .box-image__img{
		margin-bottom: 15px;
	}
}